{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Bill of Material</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="{% url 'production' %}"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" style="color: #8898aa;"><a href="{% url 'bommanagement' %}">Bill of Material</a></li>
            </ol>
            </nav>
          </div>
          <!-- <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
        <!-- Dark table -->
        <div class="row">
          <div class="col">
            <div class="card bg-default shadow">
              <div class="card-header bg-transparent border-0">
                <h3 class="text-white mb-0">Bill of Material</h3>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-dark table-flush">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" class="sort" data-sort="id">Sr No.</th>
                      <th scope="col" class="sort" data-sort="product_name">SKU Name</th>
                      <th scope="col" class="sort" data-sort="net_qty">Required Raw Materials</th>
                      <th scope="col" class="sort" data-sort="material_type">Quantities</th>
                      <th scope="col" class="sort" data-sort="unit_price">Required Machines</th>
                      <!-- <th scope="col" class="sort" data-sort="unit_price">Designations</th> -->
                      <th scope="col" class="sort" data-sort="unit_price">By-product</th>
                      <th scope="col" class="sort" data-sort="unit_price">Producted Quantity</th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    {% for boms in bom %}
                    <tr>
                      <td scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            {{forloop.counter}}
                          </div>
                        </div>
                      </td>
                      <td scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            {{ boms.sku_id.sku_name }}
                          </div>
                        </div>
                      </td>
                      <td scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <ul>
                                {% for raw_material in boms.raw_material_id %}
                                <li>{{ raw_material.raw_material_name }}</li>
                                {% endfor %}
                            </ul>
                          </div>
                        </div>
                      </td>
                      <td scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <ul>
                                {% for qty in boms.qty_required %}
                                <li>{{ qty }}</li>
                                {% endfor %}
                            </ul>        
                          </div>
                        </div>
                      </td>
                      <td scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <ul>
                                {% for machine in boms.machine_required %}
                                <li>{{ machine }}</li>
                                {% endfor %}
                            </ul>
                          </div>
                        </div>
                      </td>
                      <!-- <td scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <ul>
                                {% for designation_id, count in bom.designation_required.items %}
                                <li>
                                    
                                </li>
                                {% endfor %}
                            </ul>
                          </div>
                        </div>
                      </td> -->
                      <td scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <ul>
                                {% for by_product in boms.by_product %}
                                <li>{{ by_product }}</li>
                                {% endfor %}
                            </ul>
                          </div>
                        </div>
                      </td>
                      <td scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            {{ boms.qty_to_be_produced }}
                          </div>
                        </div>
                      </td>
                    </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
          <div class="card-footer py-4">
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
