{% load static %}
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  {% if app_name == 'HR' %}
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <i class="fas fa-handshake"></i> {{ app_name }}<sub style="font-size:xx-small;">Manufacturing ERP</sub>
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="{% url 'employee_list' %}">
              <i class="ni ni-bullet-list-67 text-default"></i>
              <span class="nav-link-text">Employee List</span>
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="{% url 'employee_detail' %}">
              <i class="ni ni-single-02 text-yellow"></i>
              <span class="nav-link-text">Create Employee</span>
            </a>
          </li>
          
        <!-- <hr class="my-3"> -->
        </ul>
      </div>
    </div>
  </div>
  {% elif app_name == 'Inventory' %}
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <i class="fas fa-truck-loading"></i> {{ app_name }}<sub style="font-size:xx-small;">Manufacturing ERP</sub>
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'inventory' in segment %} active {% endif %}" href="{% url 'inventory' %}">
              <i class="fas fa-chart-pie"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          <li class="nav-item">
            <a class="nav-link {% if 'stock_qty' in segment %} active {% endif %}" href="{% url 'stock_qty' %}">
              <i class="fas fa-layer-group"></i>
              <span class="nav-link-text">Stock Quantity</span>
            </a>
          <li class="nav-item">
            <a class="nav-link {% if 'stock_coverage' in segment %} active {% endif %}" href="{% url 'stock_coverage' %}">
              <i class="fas fa-calendar-alt"></i>
              <span class="nav-link-text">Stock Coverage</span>
            </a>
          <li class="nav-item">
            <a class="nav-link {% if 'milk_procurementation' in segment %} active {% endif %}" href="{% url 'milk_procurementation' %}">
              <i class="fas fa-truck-moving"></i>
              <span class="nav-link-text">Milk Procurement</span>
            </a>
          <li class="nav-item">
            <a class="nav-link {% if 'active_sku' in segment %} active {% endif %}" href="{% url 'active_sku' %}">
              <i class="fas fa-cubes"></i>
              <span class="nav-link-text">Active SKU</span>
            </a>
          <li class="nav-item">
            <a class="nav-link {% if 'all_product_list' in segment %} active {% endif %}" href="{% url 'all_product_list' %}">
              <i class="fas fa-clipboard-list"></i>
              <span class="nav-link-text">All Products</span>
            </a>
          <li class="nav-item">
            <a class="nav-link {% if 'orders' in segment %} active {% endif %}" href="{% url 'orders' %}">
              <i class="fas fa-clipboard-list"></i>
              <span class="nav-link-text">Purchase Order</span>
            </a>
          <li class="nav-item">
            <a class="nav-link {% if 'customer_orders' in segment %} active {% endif %}" href="{% url 'customer_orders' %}">
              <i class="fas fa-clipboard-list"></i>
              <span class="nav-link-text">Customer Orders</span>
            </a>
          <li class="nav-item">
            <a class="nav-link {% if 'inventory_value' in segment %} active {% endif %}" href="{% url 'inventory_value' %}">
              <i class="fas fa-coins"></i>
              <span class="nav-link-text">Inventory Value</span>
            </a>
          <!-- <li class="nav-item">
            <a class="nav-link {% if 'inventory_transaction_summary' in segment %} active {% endif %}" href="{% url 'inventory_transaction_summary' %}">
              <i class="fas fa-book"></i>
              <span class="nav-link-text">Inventory Transaction Summary</span>
            </a>
          <li class="nav-item">
            <a class="nav-link {% if 'stoke_movement_analysis' in segment %} active {% endif %}" href="{% url 'stoke_movement_analysis' %}">
              <i class="fas fa-dolly-flatbed"></i>
              <span class="nav-link-text">Stock Movement Analysis</span>
            </a> -->
          <!-- <li class="nav-item">
            <a class="nav-link {% if 'open_purchase_orders' in segment %} active {% endif %}" href="{ % url 'open_purchase_orders' %}">
              <i class="fas fa-boxes"></i>
              <span class="nav-link-text">Open Purchase Orders</span>
            </a>
          <li class="nav-item">
            <a class="nav-link {% if 'cycle_count_stock_audit' in segment %} active {% endif %}" href="{ % url 'cycle_count_stock_audit' %}">
              <i class="fas fa-people-carry"></i>
              <span class="nav-link-text">Cycle Counts and Stock Audit</span>
            </a>
          <li class="nav-item">
            <a class="nav-link {% if 'historic_trend_analysis' in segment %} active {% endif %}" href="{ % url 'historic_trend_analysis' %}">
              <i class="fas fa-chart-line"></i>
              <span class="nav-link-text">Historic Trend Analysis</span>
            </a> -->
        </ul>
      </div>
    </div>
  </div>
  {% elif app_name == 'Production' %}
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <i class="fas fa-industry"></i> {{ app_name }}<sub style="font-size:xx-small;">Manufacturing ERP</sub>
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'production' in segment %} active {% endif %}" href="{% url 'production' %}">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'masterproduction' in segment %} active {% endif %}" href="{% url 'masterproduction' %}">
              <i class="fas fa-calendar-alt"></i>
              <span class="nav-link-text">Master Production Scheduling</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'bommanagement' in segment %} active {% endif %}" href="{% url 'bommanagement' %}">
              <i class="fas fa-tasks"></i>
              <span class="nav-link-text">BOM</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'materialreqplan' in segment %} active {% endif %}" href="{% url 'materialreqplan' %}">
              <i class="fas fa-calculator"></i>
              <span class="nav-link-text">Material Requirement Planning</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'workordermanage' in segment %} active {% endif %}" href="{% url 'workordermanage' %}">
              <i class="fas fa-pen-square"></i>
              <span class="nav-link-text">Work Order Management</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% elif app_name == 'Finance' %}
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <i class="fas fa-hand-holding-usd"></i> {{ app_name }}<sub style="font-size:xx-small;">Manufacturing ERP</sub>
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'finance' in segment %} active {% endif %}" href="{% url 'finance' %}">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          <li class="nav-item">
            <a class="nav-link {% if 'generalLedger' in segment %} active {% endif %}" href="{% url 'generalLedger' %}">
              <i class="fas fa-book"></i>
              <span class="nav-link-text">Ledgers</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'transaction' in segment %} active {% endif %}" href="{% url 'transaction' %}">
              <i class="fas fa-cash-register"></i>
              <span class="nav-link-text">Transactions</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'account' in segment %} active {% endif %}" href="{% url 'account' %}">
              <i class="fas fa-book-open"></i>
              <span class="nav-link-text">Accounts</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'invoice' in segment %} active {% endif %}" href="{% url 'invoice' %}">
              <i class="fas fa-file-invoice-dollar"></i>
              <span class="nav-link-text">Invoices</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'payment' in segment %} active {% endif %}" href="{% url 'payment' %}">
              <i class="fas fa-rupee-sign"></i>
              <span class="nav-link-text">Payments</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'customer' in segment %} active {% endif %}" href="{% url 'customer' %}">
              <i class="fas fa-users"></i>
              <span class="nav-link-text">Customers</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'purchaseorder' in segment %} active {% endif %}" href="{% url 'purchaseorder' %}">
              <i class="fas fa-shopping-cart"></i>
              <span class="nav-link-text">Purchase Orders</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'expense' in segment %} active {% endif %}" href="{% url 'expense' %}">
              <i class="fas fa-wallet"></i>
              <span class="nav-link-text">Expenses</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'budget' in segment %} active {% endif %}" href="{% url 'budget' %}">
              <img src="{% static 'sack-dollar.png' %}" style="width: 18.5px;height: 18.5px;">&nbsp;&nbsp;&nbsp;&nbsp;
              <span class="nav-link-text">Budgets</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% endif %}
</nav>