{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">All Products</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="{% url 'inventory' %}"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" style="color: #8898aa;"><a href="{% url 'all_product_list' %}">All Products</a></li>
            </ol>
            </nav>
          </div>
          <!-- <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
        <!-- Dark table -->
        <div class="row">
          <div class="col">
            <div class="card bg-default shadow">
              <div class="card-header bg-transparent border-0">
                <h3 class="text-white mb-0">Active & Inactive Products</h3>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-dark table-flush">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" class="sort" data-sort="id">Sr No.</th>
                      <th scope="col" class="sort" data-sort="product_name">Product Name</th>
                      <th scope="col" class="sort" data-sort="active">Status</th>
                      <!-- <th scope="col" class="sort" data-sort="desc">Description</th> -->
                      <th scope="col" class="sort" data-sort="net_qty">Net Quantity</th>
                    </tr>
                  </thead>
                    {% for prod in sku %}
                    <tr>
                      <td scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            {{forloop.counter}}
                          </div>
                        </div>
                      </td>
                      <td scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            {{ prod.sku_name }}
                          </div>
                        </div>
                      </td>
                      <td scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            {% if prod.active == 2 %}
                              <span class="badge badge-success">Active</span>
                            {% else %}
                              <span class="badge badge-danger">Inactive</span>
                            {% endif %}
                          </div>
                        </div>
                      </td>
                      <td scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            {{ prod.net_qty }}
                          </div>
                        </div>
                      </td>
                    </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
          <div class="card-footer py-4">
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
