{% extends 'layouts/base.html' %}

{% block title %} Order List {% endblock title %}

{% block content %}
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Orders</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Order List</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Customer</th>
                <th scope="col">SKU</th>
                <th scope="col">Quantity</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for order in orders %}
              <tr>
                <td>{{ order.order_id }}</td>
                <td>{{ order.customer_id.customer_name }}</td>
                <td>{{ order.sku_id.sku_name }}</td>
                <td>{{ order.qty }}</td>
                <td>
                  <form method="post" action="{% url 'customer_orders' %}">
                    {% csrf_token %}
                    <input type="hidden" name="order_id" value="{{ order.order_id }}">
                    <button type="submit" class="btn btn-sm btn-primary">Done</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
